<div id="modalPopup" class="overlay">
  <div class="container popup">
    <a class="close" href="#">&times;</a>
    <div class="content">
        <div class="containerInner ui-sortable" style="padding-left: 0px; padding-right: 0px;">
    <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row--49407-180" style="padding-top: 25px; padding-bottom: 25px; margin: 0px; outline: none;">
      <div class="col-md-12 innerContent col_left" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; display: block; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 mfs_15 padding5" style="text-align: center; color: rgb(0, 0, 0); font-size: 16px; background-color: rgba(0, 0, 0, 0.04);">{{ data.snackbar}}
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <h1 class="ne elHeadline hsSize3 elMargin0 elBGStyle0 hsTextShadow0 lh3 mfs_24" style="text-align: center; font-size: 32px; color: rgb(0, 0, 0);"><font color="var(--pale-blue)"><b>{{ data.headline }}</b></font></h1>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 20px; outline: none; cursor: pointer; display: block; background-color: rgba(0, 0, 0, 0); font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 padding5 mfs_18" style="text-align: left; color: rgb(0, 0, 0); font-size: 20px; background-color: rgba(0, 0, 0, 0);">
              <b><u>Step 1</u>:</b> Register To Join
            </div>
          </div>
          <div class="de elInputWrapper de-input-block elAlign_center elMargin0 ui-droppable de-editable" type="first_name" style="margin-top: 5px; outline: none; cursor: pointer;" aria-disabled="false">
            <input type="first_name" placeholder="First Name" name="first_name" class="elInput elInput100 elAlign_left elInputMid elInputStyl0 elInputBG1 elInputI0 elInputIBlack elInputIRight ceoinput required1 elInputBR0 garlic-auto-save" data-type="extra" style="font-size: 14px;">
          </div>
          <div class="de elInputWrapper de-input-block elAlign_center elMargin0 ui-droppable de-editable" type="last_name" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <input type="last_name" placeholder="Last Name" name="last_name" class="elInput elInput100 elAlign_left elInputMid elInputStyl0 elInputBG1 elInputI0 elInputIBlack elInputIRight ceoinput required1 elInputBR0 garlic-auto-save" data-type="extra" style="font-size: 14px;">
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
            </div>
          </div>
          <div class="de elInputWrapper de-input-block elAlign_center elMargin0 ui-droppable de-editable" type="email" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <input type="email" placeholder="Email" name="email" class="elInput elInput100 elAlign_left elInputMid elInputStyl0 elInputBG1 elInputI0 elInputIBlack elInputIRight ceoinput required1 elInputBR0 garlic-auto-save" data-type="extra" style="font-size: 14px;">
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 10px; outline: none; cursor: pointer; display: block; background-color: rgba(0, 0, 0, 0); font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 padding5 mfs_18" style="text-align: left; color: rgb(0, 0, 0); font-size: 20px; background-color: rgba(0, 0, 0, 0);">
              <b><u>Step 2</u>: </b>{{ data.prompt }}
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
            <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: left; font-size: 14px; color: rgba(0, 0, 0, 0.45);">(check <i>all</i> that apply)</h2>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <input class="elInput elHeadlineCheckbox required0 garlic-auto-save" type="checkbox" name="custom_type" data-type="extra" data-custom-type="accepted_terms" value="false" data-required="yes" data-eu-only="no" tabindex="0">
            <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: left; font-size: 16px;" data-bold="inherit" data-gramm="false" contenteditable="false">"{{ data.option1 }}"
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" data-field-name="" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <input class="elInput elHeadlineCheckbox required0 garlic-auto-save" type="checkbox" name="custom_type" data-type="extra" data-custom-type="accepted_terms" value="false" data-required="yes" data-eu-only="no" tabindex="0">
            <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: left; font-size: 16px;" data-bold="inherit" data-gramm="false" contenteditable="false">
            "{{ data.option2 }}"</div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <input class="elInput elHeadlineCheckbox required0 garlic-auto-save" type="checkbox" name="custom_type" data-type="extra" data-custom-type="accepted_terms" value="false" data-required="yes" data-eu-only="no" tabindex="0">
            <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: left; font-size: 16px;">"{{ data.option3 }}"</div>
          </div>
          <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: 25px; outline: none; cursor: pointer;" aria-disabled="false" data-elbuttontype="1">
            <a href="#submit-form" class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonCorner3 elButtonFluid elBtnHP_25 elBTN_b_1 elButtonShadowN1 elButtonTxtColor1 mfs_17" style="color: rgb(255, 255, 255); font-weight: 600; background-color: var(--blue); font-size: 20px;" rel="noopener noreferrer" data-previous-content="&lt;span class=&quot;elButtonMain&quot;&gt;Watch The Masterclass And Claim Your Free Daily LeadFlow Calculator&lt;i class=&quot;fa_appended fas fa-arrow-alt-circle-right&quot; contenteditable=&quot;false&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;span class=&quot;elButtonSub&quot;&gt;&lt;/span&gt;" data-href-original="#submit-form">
              <span class="elButtonMain">{{ data.submit }}<i class="fa_appended fas fa-arrow-alt-circle-right" contenteditable="false"></i></span>
              <span class="elButtonSub"></span>
            </a>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="display: block; margin-top: 10px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize1" style="text-align: center; color: rgba(0, 0, 0, 0.62); font-size: 14px;">* we will email you an hour before the seminar so you wont miss any of it!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>


<div class="container containerModal noTopMargin padding40-top padding40-bottom padding40H borderSolid border3px cornersAll bgNoRepeat shadow30 emptySection smallContainer noBounce radius0 noBorder" id="modalPopup" data-title="Modal" data-block-color="0074C7" style="margin-top: 50px; padding-top: 0px; padding-bottom: 0px; outline: none; position: fixed; background-color: rgb(255, 255, 255); display: none;">

</div>
